@charset "utf-8";
/* CSS Document */
header{
    background-color:#fff;
    height:80px;
    overflow:hidden;
    width:100%;
}
.menus,.logo{
	display: inline-block;
	vertical-align: middle;
	width:49%;
	padding-top: 8px;
}

.menus>ul{
	text-align: right;
}

.menus>ul>li{
	display: inline;
}

.menus>ul>li>a{
	font-size:16px;
	font-family:"Lato";
	color: #7b8b8e;
  text-decoration: none;
	font-weight: 600;
	margin-right: 25px;
}
.content_area{
		background-color:#eeeeee;
		height:auto;
		width:100%;	
		overflow: hidden;
	}	

.news_title{
		width:100%;
		background-color:#ffffff;
		color:#515151;
		height:100px;
	text-align: center;
	}
.news_title>p{
  //padding-top:3%;
  width:100%;
	font-size:30px;
		font-family: 'Lato',sans-serif;
	line-height: 100px;
	}

ul.postings>li{
		float:left;
		list-style:none;	
		margin-right:15px;
		margin-left: 15px;
    }
.post_box{
		width:373.333px;
		height:450px;
		margin-bottom:20px;
		margin-top:20px;
		background-color:#ffffff;
		overflow:hidden;
		position:relative;
	}
	
.text_holder{
		padding:10px 5px 10px 10px;
		width:80%;
		margin-left:8%;
	}
.text_holder>h3{
		margin-top:10px;
		font-size:20px;
		font-weight:400;
		color:#000;	
		font-family: 'Lato', sans-serif;
		font-weight:regular;
	}
.text_holder>p{
		margin-top:10px;
		font-size:18px;
		color:#515151;
		font-family: 'Roboto', sans-serif;
		font-weight:300;
		line-height: 1.5em;
	word-spacing: 0.2em; 
	}
.text_holder>h6{
		margin-top:10px;
		font-size:12px;
		color:#00b4ff;	
		font-family: 'Roboto', sans-serif;
		font-weight:300;
		/*! position:absolute; */
		/*! bottom:25px; */
		font-size:18px;
	}

footer{
	width: 100%;
	height: 330px;
	background-color: #515151;
	color: #ffffff;
	padding: 30px 0px 10px 0px !important;
}

.foot_col1,.foot_col2,.foot_col3,.foot_col4{
	color: #ffffff;
	height: 180px;
	width: 25%;
	float: left;
}

.foot_col4{
	clear:right;
}

.foot_col4>ul>li>a{
		float:left !important;
		margin-right:20px; 	
	}

ul>li>h3 {
    font-size: 20px;
	font-family: 'Lato',sans-serif;
	margin-bottom: 20px;
	font-weight: 700;
}

.foot_col1>ul>li,.foot_col2>ul>li,.foot_col3>ul>li,.foot_col4>ul>li{
	list-style: none;
	display: block;
	margin-bottom: 15px;
}

.foot_col1>ul>li>a,.foot_col2>ul>li>a,.foot_col3>ul>li>a,.foot_col4>ul>li>a{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
	color: #ffffff;
}
hr.style1{
	border-top: 1px solid #fff;
}

	
.logofooter{
	text-align: center;
}

.logofooter>img{
	text-align: center;
	margin:0 auto;
	display: block;
}

.logofooter>p{
	font-family:'Lato',sans-serif;
	font-size:14px;
	color: #fff;
	display: block;
}

@media screen and (max-width:769px) {
	.wrapper{
		width:90%;
		margin:0 auto;	
	}	
	.post_box{
		width:100%;
		height:auto;
		margin-bottom:20px;
		margin-top:20px;
		background-color:#ffffff;
		overflow:hidden;
		position:relative;
		padding-bottom: 30px;
	}
	footer{
		width: 100%;
		float:left;
		height: auto;
		background-color: #515151;
		color: #ffffff;
		padding: 30px 0px 10px 0px !important;
		overflow: hidden;
	}
	
	.foot_col1,.foot_col2,.foot_col3,.foot_col4{
		color: #ffffff;
		height: 180px;
		width: 100%;
		float: left;
		clear: right;
		box-sizing: border-box;
	}
	
	.foot_col4{
		clear:right;
	}
	
	.foot_col4>ul>li>a{
			float:left !important;
			margin-right:20px; 	
		}
	
	ul>li>h3 {
		font-size: 20px;
		font-family: 'Lato',sans-serif;
		margin-bottom: 20px;
		font-weight: 700;
	}
	
	.foot_col1>ul>li,.foot_col2>ul>li,.foot_col3>ul>li,.foot_col4>ul>li{
		list-style: none;
		display: block;
		margin-bottom: 15px;
	}
	
	.foot_col1>ul>li>a,.foot_col2>ul>li>a,.foot_col3>ul>li>a,.foot_col4>ul>li>a{
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 300;
		text-decoration: none;
		color: #ffffff;
	}
	hr.style1{
		border-top: 1px solid #fff;
	}
	
		
	.logo{
		text-align: center;
		margin-bottom: 50px;
	}
	
	.logo>img{
		text-align: center;
		margin:0 auto;
		display: block;
		height:40px;
		width:150px;
	}
	
	.logo>p{
		font-family:'Lato',sans-serif;
		font-size:14px;
		color: #fff;
		display: block;
	}
	
	
}
